<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Central Test Suite" verbose="5" configfailurepolicy="continue">

    <listeners>
        <listener
                class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>

    <test name="Test Scenario" parallel="methods">
        <packages>
            <package name="com.central.tests"/>
        </packages>
    </test>

</suite>
